@model IEnumerable<Personas.Models.Persona>
@*// esta vista va a trabajar con este modelo y es necesario para poder unir la clase con la vista*@
@{
    ViewBag.Title = "Listado de Persona";

}

<div class="row">
    <div class="col-sm-12">
        <div>
            <h4>Listado de personas cargadas en la base de datos</h4>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        
                        <th class="text-center"> Nombre</th>
                        <th class="text-center"> Apellido</th>
                        <th class="text-center"> Edad</th>
                        <th class="text-center"> Telefono</th>
                        <th class="text-center"> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var persona in Model)
                    {
                    <tr class=" text-center">

                        <td>
                            @persona.Nombre
                        </td>
                        <td>
                            @persona.Apellido
                        </td>
                        <td>
                            @persona.Edad
                        </td>
                        <td>
                            @persona.Telefono
                        </td>
                        <td>
                            <a href="@Url.Action("DatosPersona","Persona", new {@idPersona = persona.Id })" class=" btn btn-warning">Mostrar</a>
                            <a href="@Url.Action("EliminarPersona","Persona", new {@idPersona = persona.Id })" class=" btn btn-danger">Eliminar</a>
                        </td>
                       
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


